.c-list {
  margin-left: 0;
  list-style: none;

  &__item {
    text-indent: -0.8em;
    position: relative;
    &:before {
      content: "◈";

      color: $bullet-color;
      position: relative;
      left: -7px;
      @media (max-width: 600px) {
        font-size: 10px;
      }
    }
    img {
      max-width: 250px;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.c-image-overlay {
  overflow: unset;
}
#apps {
  z-index: 0;
}
a[data-lg] {
  cursor: zoom-in;
}
.o-grid--gallery__text {
  margin: 20px 0;
}
.fancybox-caption {
  font-size: 19px !important;
  font-weight: bold !important;
}
/**/
.custom-color {
  color: $yellow;
}
