/**
 * THEMES.DARK
 */
/* Body */
body {
  background: #2d2e2e;
  color: #979899;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a4a5a6;
}

/* Link Container */
.t-link-container {
  color: inherit;
  display: block;
}

.t-link-container:hover,
.t-link-container:focus,
.t-link-container:active {
  color: inherit;
}

.t-link-container .t-link-container__item--blended {
  color: inherit;
}

/* Links */
a,
.t-link-container .t-link-container__item,
.t-link-container:hover .t-link-container__item--blended {
  color: #e0a80d;
}

/* Hover Links */
a:hover,
a:focus,
a:active,
.t-link-container:hover .t-link-container__item {
  color: #fefaee;
}

/* Horizontal Rulers */
hr,
.t-border-color {
  border-color: #404242;
}

hr,
.t-border-color-bg {
  background: #404242;
}

/* Primary Color */
.t-primary-color,
.t-primary-color-line {
  color: #e0a80d;
}

.t-primary-bg,
.t-primary-color-line {
  background: #e0a80d;
}

/* Preloader */
.t-preloader__spinner:not(:required):before {
  border-top-color: #e0a80d;
  border-bottom-color: #e0a80d;
}

/* Brand Colors */
.t-title__first-word {
  color: #a4a5a6;
}

.t-title__second-word {
  color: #e0a80d;
}

.t-sub-title {
  color: #979899;
}

/* Brand Typography */
.t-title {
  font-size: 4.8rem;
  line-height: 0.91;
}

.t-title__first-word {
  text-transform: capitalize;
  font-weight: 300;
}

.t-title__second-word {
  text-transform: uppercase;
  font-weight: 700;
}

.t-sub-title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 0.3rem;
}

/* Icons */
.fa {
  color: #575859;
}

/* Social Buttons */
.t-social-button {
  background: #3f4040;
  border-color: #3f4040;
}

.t-social-button .fa {
  color: #717273;
}

.t-social-button:hover {
  background: #323333;
}

.t-social-button:hover .fa {
  color: #e0a80d;
}

/* Image Overlay */
.t-image-overlay {
}

.t-image-overlay h3 {
  color: #a4a5a6;
}

.t-image-overlay * {
  color: #e4e5e5;
}

.t-image-overlay:hover img {
  opacity: 0.4;
}

.t-image-overlay__deco-line {
  color: #c0c1c1;
  background: $yellow;
}

/* Transition */
a,
button,
a .fa,
.t-link-container .t-link-container__item,
.t-link-container .t-link-container__item--blended {
  transition: all 0.15s linear;
}

/* Sections */
.t-section__header {
  background: #282929;
}

.t-section__content,
.t-section--header .t-section__header {
  background: #2d2e2e;
}

.t-section__content-border-color {
  border-color: #2d2e2e;
}

.t-timeline__point {
  box-shadow: 0 0 0 6px #2d2e2e;
}

@media (max-width: 1023px) {
  .t-section__header {
    border-top: 1px solid #404242;
    border-bottom: 1px solid #404242;
  }
  .t-section--header .t-section__header {
    border-top: none;
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  /* Odd Sections */
  .t-section,
  .t-section__header,
  .t-section--header .t-section__header {
    background: #2b2c2c;
  }
  .t-section__content {
    background: #2d2e2e;
  }
  /* Even Sections */
  .t-section:nth-child(even),
  .t-section:nth-child(even) .t-section__header {
    background: #292a2a;
  }
  .t-section:nth-child(even) .t-section__content {
    background: #2b2c2c;
  }
  .t-section:nth-child(even) .t-timeline__point {
    box-shadow: 0 0 0 6px #2b2c2c;
  }
}

.c-video {
  height: auto;
  width: 100%;
}
.c-video:active,
.c-video:hover,
.c-video:focus {
  outline: none;
}

/* */
.o-grid--gallery__text {
  margin-bottom: 10px;
}
.o-section__links {
  margin-right: 7px;
}
.c-image-overlay .c-image-overlay__deco-line {
  margin-top: 0.5rem;
}
.o-section__links--blocked,
.o-section__links--blocked:active,
.o-section__links--blocked:focus,
.o-section__links--blocked:hover {
  color: #8a6705 !important;
  text-decoration: line-through;
  cursor: not-allowed;
}

/* Reviews 
====================== */
.o-section__reviews {
  max-width: 100%;
}
.o-section__reviews .carousel-cell {
  width: 100%;
  max-width: 400px;
  // margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.9s;
}
.o-section__reviews .carousel-cell.is-selected {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.044) translateY(-50%);
  z-index: 1;
}
.o-section__reviews .carousel-cell img {
  width: 100%;
  max-width: 400px;
  border-radius: 3px;
}
.o-section__reviews .flickity-page-dots .dot {
  background-color: #616161;
}
.o-section__reviews .o-grid--gallery {
  margin-right: 0 !important;
}

.o-section__reviews .flickity-viewport {
  min-height: 430px;
}

@media (max-width: 500px) {
  .o-section__reviews .flickity-button {
    background: #fff0 !important;

    width: 30px !important;
  }
}

@media (max-width: 750px) {
  .o-section__reviews .flickity-page-dots {
    position: relative;
    top: -2px;
  }
}
@media (max-width: 540px) {
  .o-section__reviews .o-grid--gallery .o-grid__col-sm-12,
  .o-section__reviews .o-section__full-bottom-space {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .o-section__reviews .carousel-cell img {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
}
.o-section__stack {
  color: #e0810d;
  font-size: 12px;
}
/* Expertise 
====================== */
.t-expertise {
  overflow: hidden;
}
