<!-- ################################ -->
<!-- ########### APPS ########### -->
<!-- ################################ -->

<section id="apps" class="o-section  t-section  ">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Portfolio
                    </h2>
                    <div class="o-content__body  o-section__description">
                        Some of my previous works.
                    </div>
                </div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  ">

                <div class="o-grid">
                  <!--  EZFY -->
                    <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                        <div class="o-content">
                            <a href="http://diegofortes.com/ezfy/" target="_blank" class="t-link-container">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-profile__icon">
                                            <i class="fas  fa-lg  fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="o-media__body  o-content__body">
                                        <h3 class="t-link-container__item">
                                            EZFY
                                        </h3>
                                        <p>
                                            EZFY is a Web based app built with Vanilla JS. It pulls products via AJAX from any website using Shopify and display the data in a legible and concise way. It's ideal mostly for drop-shipping entrepreneurs who need to keep an eye on competition.
                                        </p>
                                    </div>
                                </div><!-- /o-media -->
                            </a><!-- /t-link-container -->
                        </div><!-- /o-content -->
                    </div><!-- /o-grid__col -->


                </div><!-- /o-grid -->

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->
