<!-- ################################ -->
<!-- ########### EDUCATION ########## -->
<!-- ################################ -->

<section class="o-section  t-section  ">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
                        Education
                    </h2>
          <div class="o-content__body  o-section__description">
          </div>
        </div>
      </header>
      <!-- /o-section__header -->

      <div class="o-section__content  t-section__content  u-pt-0">

        <div class="o-content">
          <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
            <div class="c-timeline__end  t-border-color"></div>

            <div class="c-timeline__item">
              <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
              <div class="o-content">
                <div class="o-grid">
                  <div class="o-grid__col-md-5">
                    <div class="c-work__timeframe">
                      2016
                    </div>
                    <h3 class="c-work__heading">
                                            EDIT
                                        </h3>
                    <h4 class="c-work__title">
                                            Front-End & Responsive Web Development
                                        </h4>
                    <div class="c-work__location">
                      Lisbon, Portugal
                    </div>
                  </div>
                  <div class="o-grid__col-md-7">
                    <ul class="c-list">
                      <li class="c-list__item">
                        Deepened myself into Front-end best practices, organization and techniques with teachers whose jobs were;
                      </li>
                      <li class="c-list__item">
                        Developed complex projects in HTML, CSS and Javascript.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /o-grid -->
              </div>
              <!-- /o-content -->
            </div>
            <!-- /c-timeline__item -->

            <div class="c-timeline__item">
              <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
              <div class="o-content">
                <div class="o-grid">
                  <div class="o-grid__col-md-5">
                    <div class="c-work__timeframe">
                      2013 &ndash; 2016
                    </div>
                    <h3 class="c-work__heading">
                                            UNIFAAT
                                        </h3>
                    <h4 class="c-work__title">
                                            System Analyst
                                        </h4>
                    <div class="c-work__location">
                      São Paulo, Brazil
                    </div>
                  </div>
                  <div class="o-grid__col-md-7">

                    <ul class="c-list">
                      <li class="c-list__item">
                        Graduated back in 2016 as a System Analyst, in São Paulo, Brazil. Bachelor’s degree;
                      </li>
                      <li class="c-list__item">
                        Extensive lessons on team management and organization with one of the best Team Managers in Brazil, <a href="https://www.linkedin.com/in/fernandofernandesit/">Fernando Fernandes</a>.
                      </li>
                      <li class="c-list__item">
                        Developed projects in C#, Java and C.
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- /o-grid -->
              </div>
              <!-- /o-content -->
            </div>
            <!-- /c-timeline__item -->

            <div class="c-timeline__item">
              <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
              <div class="o-content">
                <div class="o-grid">
                  <div class="o-grid__col-md-5">
                    <div class="c-work__timeframe">
                      2013 &ndash; Present
                    </div>
                    <h3 class="c-work__heading">
                                            Udemy, Lynda, between others
                                        </h3>
                    <h4 class="c-work__title">
                                            E-Learning
                                        </h4>
                    <div class="c-work__location">
                      Digital
                    </div>
                  </div>
                  <div class="o-grid__col-md-7">
                    <ul class="c-list">
                      <li class="c-list__item">
                          Fun fact: I have bought so many courses that Udemy seriously added me to a private student group. So, yeah, I’m a nerd. :D
                          <a class="c-image-overlay  t-image-overlay  js-lightbox" data-fancybox href="images/udemy-learner.png" ><img data-bp="images/udemy-learner.png" src="images/udemy-learner.png" alt=""></a>
                      </li>
                      <li class="c-list__item">
                        I’m always open-minded to learn and improve and, in this field, Internet can be a great place for that. Of course, not 100% of the content out there is high quality and some of them might even get you more confused than before. That is why I always make
                        sure to ask friends and professionals to certify a specific course has high potential of bringing me value.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /o-grid -->
              </div>
              <!-- /o-content -->
            </div>
            <!-- /c-timeline__item -->

          </div>
          <!-- /c-timeline -->
        </div>
        <!-- /o-content -->

      </div>
      <!-- /o-section__content -->

    </div>
    <!-- /o-section__container -->
  </div>
  <!-- /o-container -->



</section>
<!-- /o-section -->
