<!-- ################################ -->
<!-- ########## EXPERTISE ########### -->
<!-- ################################ -->

<section class="o-section  t-section t-expertise">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Expertise
                    </h2>
                    <div class="o-content__body  o-section__description">

                    </div>
                </div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  ">

                <div class="o-grid">

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>Advanced CSS</h3>
                                <p>
                                    I have developed projects with SCSS/SASS, Stylus and LESS, so I have no problems on working with any of these CSS preprocessors. Also I tend to exploit its features, when appropriate, ergo making use of loops, variables, mixins, functions, etc. I also enjoy creating custom mixins such as this pseudo "parent selector" on pure css. <a href="https://codepen.io/diego-fortes/pen/yoOoRM" target="_blank">You can check it here!</a>
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>Front-end-ing</h3>
                                <p>
                                    All websites I code are sustained by 3 pillars:
                                    <br /><strong><u>Performance</u></strong> - Gotta go fast! :D for this I'll avoid using libraries and plugins the most I can, including jQuery usage.
                                    <br /><strong><u>Maintainability</u></strong> - It has to be easy for <strong><u>any</u></strong> programmer to add, remove and update code on/into the website;
                                    <br /><strong><u>Multi-device...ness?</u></strong> - pleasant experience on every browser and device (that means responsive and crossbrowser).
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>Javascript</h3>
                                <p>
                                    ES6 and jQuery. Although most clients ask me to develop on top of jQuery I prefer to stick with Vanilla as it makes everything lighter and faster by reducing load times. AJAX, REST APIs, Regex, Plugins, and Design Patterns to name a few of the terms I’m familiar with. Finally, I know enough node.js to automate via <b>Gulp</b>.
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>Shopify</h3>
                                <p>
                                    From fixing bugs to implementing new features or doing complex customizations in <i>.liquid</i>, I can comfortably and effectively work with Shopify. You can see reviews from my customers by <a href="#reviews">clicking here</a>.
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>WordPress</h3>
                                <p>
                                    Most small business will opt for a website with a back-end to gain self-sufficiency. For such reason I have learnt Wordpress well enough to please my clients with Advanced Custom Fields and other features that'd enhance their experience when it comes to to update images and copy by themselves.
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->
                    
                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>UX</h3>
                                <p>
                                    I always focus on providing a satisfying experience to the user. For instance, if one cannot close a pop-up/lightbox with the ESC key or clicking anywhere outside of it, I consider it a website that needs optimization. Basically good UX = comfort = higher conversions.
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>MISCELLANEOUS</h3>
                                <p>
                                    I code non-professionally in many languages, such as C# (Unity3D and ASP.NET), Java (Android), C, Python (web scraping, Django and automation) and GML for GameMaker Studio 2. Also I'm currently learning React.JS & Node.
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->

                    <article class="o-grid__col-sm-6">
                        <div class="o-media  o-media--block  o-content">
                            <div class="o-media__figure">
                                <div class="c-number  t-primary-color">

                                </div>
                            </div>
                            <div class="o-media__body  o-content__body">
                                <h3>MORE?</h3>
                                <p>
                                  Coming soon!
                                  <!-- If you wish to see my complete skillset please <a href="#">download my CV by clicking here</a>. -->
                                </p>
                            </div>
                        </div><!-- /o-media o-content -->
                    </article><!-- /o-grid__col -->
                </div><!-- /o-grid -->

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->
