<!-- ################################ -->
<!-- ########## EXPERIENCE ########## -->
<!-- ################################ -->

<section class="o-section  t-section  ">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Experience
                    </h2>
                    <div class="o-content__body  o-section__description">

                    </div>
                </div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  u-pb-0">

                <div class="a-experience-timeline  c-timeline  t-border-color">

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2017 &ndash; Present
                                    </div>
                                    <h3 class="c-work__heading">
                                        Freelancer
                                    </h3>
                                    <h4 class="c-work__title">
                                        Front-End & Shopify Developer
                                    </h4>
                                    <div class="c-work__location">
                                        Porto, Portugal
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7">
                                  <ul class="c-list">
                                    <li class="c-list__item">
                                      Mostly working with .Liquid development. From small customizations/bug fixes to large/complex customizations.
                                    </li>
                                    <li class="c-list__item">
                                      To see reviews from my customers, please <a href="#">click here</a>.
                                    </li>
                                  </ul>

                                </div>
                            </div><!-- /o-grid -->
                        </div><!-- /o-content -->
                    </div><!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2016 &ndash; 2017
                                    </div>
                                    <h3 class="c-work__heading">
                                        Fullsix Group
                                    </h3>
                                    <h4 class="c-work__title">
                                        Front-end Developer
                                    </h4>
                                    <div class="c-work__location">
                                        Oeiras, Portugal
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7">
                                  <ul class="c-list">
                                    <li class="c-list__item">
                                      Website development using HTML5, CSS3 (SASS/SCSS) & Javascript (Vanilla/jQuery);
                                    </li>
                                    <li class="c-list__item">
                                      Coded websites to companies such as Mc Donalds, Heineken, Moche, VIvaki, between others;
                                    </li>
                                    <li class="c-list__item">
                                      Worked both individually & with teams ranging from 2 to 10 people (including developers, marketeers and designers);
                                    </li>
                                    <li class="c-list__item">
                                      Responsive newsletter coding (many tables in old HTML and hacks...);
                                    </li>
                                    <li class="c-list__item">
                                      Most projects’ back-end were built with C# (ASP.NET), hence I’m comfortable coding in these environments.
                                    </li>
                                  </ul>

                                </div>
                            </div><!-- /o-grid -->
                        </div><!-- /o-content -->
                    </div><!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2016
                                    </div>
                                    <h3 class="c-work__heading">
                                        Studio Tagus
                                    </h3>
                                    <h4 class="c-work__title">
                                        Front-end Developer
                                    </h4>
                                    <div class="c-work__location">
                                        Lisbon, Portugal
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7">
                                  <ul class="c-list">
                                    <li class="c-list__item">
                                    Freelancing company brought up by me and multiple previous team-workers with the intent of delivering high quality websites to customers;
                                    </li>
                                    <li class="c-list__item">Most projects were coded in WordPress, some from scratch using ACF & the Underscore theme boilerplate.</li>
                                  </ul>
                                </div>
                            </div><!-- /o-grid -->
                        </div><!-- /o-content -->
                    </div><!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2016
                                    </div>
                                    <h3 class="c-work__heading">
                                        UTU Digital Agency
                                    </h3>
                                    <h4 class="c-work__title">
                                        Front-end Developer
                                    </h4>
                                    <div class="c-work__location">
                                        Lisbon, Portugal
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7">
                                  <ul class="c-list">
                                    <li class="c-list__item">
                                    Jobs using HTML5, jQuery, JS Vanilla, Wordpress and e-newsletter coding.
                                    </li>
                                  </ul>
                                </div>
                            </div><!-- /o-grid -->
                        </div><!-- /o-content -->
                    </div><!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2012 &ndash; 2013
                                    </div>
                                    <h3 class="c-work__heading">
                                        Arval Printing Machinery
                                    </h3>
                                    <h4 class="c-work__title">
                                        Back-end Developer
                                    </h4>
                                    <div class="c-work__location">
                                        São Paulo, Brazil
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7">
                                  <ul class="c-list">
                                    <li class="c-list__item">
                                    Basic software maintenance in C#, Java, Python and C.
                                    </li>
                                  </ul>
                                </div>
                            </div><!-- /o-grid -->
                        </div><!-- /o-content -->
                    </div><!-- /c-timeline__item -->

                </div><!-- /c-timeline -->

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->
