<!-- ################################ -->
<!-- ############ INTRO ############# -->
<!-- ################################ -->

<section id="intro" class="o-section  t-section  ">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Introduction
                    </h2>
                    <div class="o-content__body  o-section__description">
                        About me.
                    </div>
                </div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  ">

                <div class="o-content">
                    <div class="c-intro">
                        <div class="o-content__body">
                            <p>
                                Greetings. My name is Diego, I'm a web developer with 8 years of coding experience and 3
                                years of professional experience in Front-End (HTML, CSS, JS).
                            </p>
                            <p>I currently provide freelance services through Ezfy, a small company I have founded.</p>
                            <p>
                                My current stack consists of:
                            </p>
                            {{!-- <ul>
                                <li>HTML 5</li>
                                <li>CSS 3</li>
                                <li>Javascript</li>
                                <li>SASS</li>
                                <li>SCSS</li>
                                <li>LESS</li>
                                            <li>CSS Modules</li>
                                <li>Stylus</li>
                                <li>Vanilla JS</li>
                                <li>Webpack</li>
                                <li>React JS</li>
                                <li>Redux</li>
                                <li>Styled Components</li>
                                <li>Firebase</li>
                                <li>Babel</li>
                                <li>Nodejs</li>
                                <li>Handlebars</li>
                                <li>Gulp</li>
                                <li>Responsive Design</li>
                                <li>Chrome Extension</li>
                            </ul> --}}
                        </div>
                    </div>
                </div>

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->