<!-- ################################ -->
<!-- ############ INTRO ############# -->
<!-- ################################ -->

<section class="o-section  t-section  ">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Intro
                    </h2>
                    <div class="o-content__body  o-section__description">
                        Who am I?
                    </div>
                </div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  ">

                <div class="o-content">
                    <div class="c-intro">
                        <div class="o-content__body">
                            <p>
                              Hello! My name is Diego, nice to meet you. I’m a Front-End Web Developer from São Paulo, Brazil, living in Portugal since March 2016. My coding trajectory started in 2010 and, for some rather peculiar reason it was love at first sight.
                            </p>
                            <p>Therefore, ever since then I have been pursuing the path of web development by coding websites to companies <b class="custom-color">such as Mc Donalds</b> and entrepreneurs helping them bring their ideas to life. To see my work <a href="#portfolio">just click here.</a>
							</p> 
                            <p>
                              In this website you will find some of my skills, my previous works and also reviews from clients. Feel free to contact me by e-mail for any questions or requests you may have. Thank you!  
                            </p>
                        </div>
                    </div>
                </div>

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->
