<!-- ################################ -->
<!-- ########### PORTFOLIO ########## -->
<!-- ################################ -->

<section id="portfolio" class="o-section  t-section">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
                        Portfolio
                    </h2>
          <div class="o-content__body  o-section__description">
            Websites that I have coded.
          </div>
        </div>
      </header>
      <!-- /o-section__header -->

      <div class="o-section__content  t-section__content  o-section__full-bottom-space">

        <div class="o-grid  o-grid--gallery">

          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/mc-big.png" data-fancybox data-caption="<a target='_blank' href='https://www.mcdonalds.pt/trabalhar-na-mcdonalds-o-nosso-compromisso/'>Click here to visit this website. (opens in new tab)</a>">
            <img data-src="images/mc-small.png" alt="">
            <div class="o-grid--gallery__text">
              <h3>
                                  Mc Donald's
                              </h3>
              <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

            </div>
            </a>
            <p>
              When working at Fullsix I had the honor to code a landing page to the <a href="https://www.mcdonalds.pt/trabalhar-na-mcdonalds-o-nosso-compromisso/" target="_blank">official Portuguese Mc Donald's website</a>. Coded in HTML, SCSS and jQuery, back-end by team-mates in C#.
            </p>
          </div>
          <!-- /o-grid__col -->


          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/st-big.png" data-fancybox data-caption="<a target='_blank' href='http://diegofortes.com/studiotagus.com/'>Click here to visit this website. (opens in new tab)</a>">
            <img data-src="images/st-small.png" alt="">
            <div class="o-grid--gallery__text">
              <h3>
                  Studio Tagus
              </h3>
              <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

            </div>
            </a>
            <p>
              First company related to web development that I've brought up with a couple of friends. We coded websites in Wordpress, HTML, CSS (scss) and Javascript (Vanilla and jQuery) to multiple customers. <a href="http://diegofortes.com/studiotagus.com/" target="_blank">Studio Tagus</a> gave us room to grow and improve our skills in various ways.
            </p>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/megalancer-big.jpg" data-fancybox data-caption="<a target='_blank' href='https://megalancers.com/'>Click here to visit this website. (opens in new tab)</a>">
            <img data-src="images/megalancer-small.jpg" alt="">
            <div class="o-grid--gallery__text">
              <h3>
                  Megalancers
              </h3>
              <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />
            </div>
            </a>
            <p>
              <a href="https://megalancers.com/" target="_blank">Megalancers</a> is pretty much a brazilian "Fiverr". This project was coded from scratch by me and another developer in 3 months. Coded with HTML, CSS (Stylus) and jQUery.
            </p>
          </div>
          <!-- /o-grid__col -->


          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/mm-big.jpg" data-fancybox data-caption="<a target='_blank' href='http://diegofortes.com/mealmasters/'>Click here to visit this website. (opens in new tab)</a>">
            <img data-src="images/mm-small.jpg" alt="">
            <div class="o-grid--gallery__text">
              <h3>
                  Meal Masters
              </h3>
              <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

            </div>
            </a>
            <p>
              <a href="http://diegofortes.com/mealmasters/" target="_blank">Meal Masters</a> was an online food delivery restaurant. Website coded from scratch using HTML, CSS and jQuery.
            </p>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/arval-fullpage.png" data-fancybox>
              <img data-src="images/arval-small.jpg" alt="">
              <div class="o-grid--gallery__text">
                  <h3>
                      Arval
                  </h3>
                  <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
          </a>
            <p>
              Arval is a printing machine company. They needed their old website updated and this is what we came up with. Coded from scratch, HTML, CSS and Javascript (Vanilla).
            </p>
          </div>
          <!-- /o-grid__col -->
          
          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/fu-big.png" data-fancybox data-caption="<a target='_blank' href='http://fabulasurbanas.com/'>Click here to visit this website. (opens in new tab)</a>">
              <img data-src="images/fu-small.png" alt="">
              <div class="o-grid--gallery__text">
                  <h3>
                    Fábulas Urbanas
                  </h3>
                  <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
          </a>
            <p>
              <a href="http://fabulasurbanas.com/" target="_blank">Fábulas Urbanas</a> is a simple art blog coded from scratch in Wordpress. The interesting thing about it is the multi-language feature.
            </p>
          </div>
          <!-- /o-grid__col -->
          
          <div class="o-grid__col-sm-6">
            <a class="c-image-overlay  t-image-overlay" href="images/ezfy-big.png" data-fancybox data-caption="<a target='_blank' href='http://diegofortes.com/ezfy/'>Click here to visit this website. (opens in new tab)</a>">
              <img data-src="images/ezfy-small.png" alt="">
              <div class="o-grid--gallery__text">
                  <h3>
                    EZFY
                  </h3>
                  <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
          </a>
            <p>
              <a href="http://diegofortes.com/ezfy/" target="_blank">EZFY</a> is a fairly simple but useful web app that I have coded for Shopify Entrepreneurs. It allows you to retrieve product data with 100% accuracy from any Shopify store (such as the day it was added, price, description, etc) and to download all images of a single product in one click.
            </p>
          </div>
          <!-- /o-grid__col -->
          
          
          <!-- last -->
          <div class="o-grid__col-sm-12">
            <span class="c-image-overlay  t-image-overlay">
              <img data-src="images/cute-puppy-compress.gif" class="lazy" alt="">
              <div class="o-grid--gallery__text">
                  <h3>
                    And many others...
                  </h3>
                  <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
          </span>
            <p>
              ...that my clients would punch me on the head if I shared publicly. So please enjoy this puppy instead. Oh, and also this very site you're in. :)
            </p>
          </div>
          <!-- /o-grid__col -->
        </div>
        <!-- /o-grid -->

      </div>
      <!-- /o-section__content -->

    </div>
    <!-- /o-section__container -->
  </div>
  <!-- /o-container -->

</section>
<!-- /o-section -->