<!-- ################################ -->
<!-- ########### PORTFOLIO ########## -->
<!-- ################################ -->

<section class="o-section  t-section  ">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Portfolio
                    </h2>
                    <div class="o-content__body  o-section__description">
                        Where the fun begins. :D
                    </div>
                </div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  o-section__full-bottom-space">

                <div class="o-grid  o-grid--gallery">

                    <div class="o-grid__col-sm-6">
                        <a class="c-image-overlay  t-image-overlay" href="#" data-fancybox>
                            <img src="images/udemy-learner.png" alt="">
                            <div class="o-grid--gallery__text">
                                <h3>
                                    Megalancers
                                </h3>
                                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />
                                <p>
                                    Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                </p>
                            </div>
                        </a>
                    </div><!-- /o-grid__col -->

                    <div class="o-grid__col-sm-6">
                        <a class="c-image-overlay  t-image-overlay" href="#" data-fancybox>
                            <img src="images/udemy-learner.png" alt="">
                            <div class="o-grid--gallery__text">
                                <h3>
                                    Studio Tagus
                                </h3>
                                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />
                                <p>
                                    Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                </p>
                            </div>
                        </a>
                    </div><!-- /o-grid__col -->

                    <div class="o-grid__col-sm-6">
                        <a class="c-image-overlay  t-image-overlay" href="#" data-fancybox>
                            <img src="images/udemy-learner.png" alt="">
                            <div class="o-grid--gallery__text">
                                <h3>
                                    Arval
                                </h3>
                                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />
                                <p>
                                    Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                </p>
                            </div>
                        </a>
                    </div><!-- /o-grid__col -->
                </div><!-- /o-grid -->

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->
