<!-- ################################ -->
<!-- ########### PORTFOLIO ########## -->
<!-- ################################ -->

<section id="portfolio" class="o-section  t-section">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Portfolio
          </h2>
          <div class="o-content__body  o-section__description">
            Apps & websites that I have coded.
          </div>
        </div>
      </header>
      <!-- /o-section__header -->

      <div class="o-section__content  t-section__content  o-section__full-bottom-space">

        <div class="o-grid  o-grid--gallery">

          {{!-- Puppeteer Gmail --}}
          <div data-tags="Node JS" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-gmail-puppeteer.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Puppeteer Gmail
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/puppeteer-gmail" target="_blank">Source Code</a>
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Live Demo</a>
            </div>
            <p>
              Tool to automate e-mail sending within Gmail website. It makes use of <a target="_blank"
                href="https://github.com/GoogleChrome/puppeteer">Puppeteer</a> and <a target="_blank"
                href="https://github.com/berstend/puppeteer-extra/tree/master/packages/puppeteer-extra-plugin-stealth#readme">Puppeteer
                Stealth</a> to avoid being detected as an automated tool. At 0:08 it logins into your account, 0:54
              writes the e-mail and send it.
            </p>
            <p class="o-section__stack"></p>
          </div>
          <!-- /o-grid__col -->

          {{!--Card Handler --}}
          <div data-tags="React JS, CSS3" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-draw-cards.webm" type="video/webm">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Card Handler
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/react-deck-of-cards" target="_blank">Source
                Code</a>
              <a class="o-section__links " href="https://dpw1.github.io/react-deck-of-cards/" target="_blank">Live
                Demo</a>
            </div>
            <p>
              Experimenting animations using the <a target="_blank" href="https://deckofcardsapi.com/">Deck of
                Cards API</a> and
              <a target="_blank" href="https://github.com/bluebill1049/react-simple-animate">React Simple Animate</a>.
              Note: since the images are being rendered in real time via the API it may be a bit laggy.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Jokes App --}}
          <div data-tags="React JS, SCSS" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-jokes-app.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Jokes App
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/jokes-app" target="_blank">Source Code</a>
              <a class="o-section__links " href="https://dpw1.github.io/jokes-app/" target="_blank">Live Demo</a>
            </div>
            <p>
              App that loads silly jokes from API. I decided to emphasize my focus on UI/UX on this project.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Youtube Video Length Filter --}}
          <div data-tags="Vanilla JS, HTML5, CSS3, Chrome Extension" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-youtube-filter.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Youtube Video Length Filter
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/youtube-filter" target="_blank">Source Code</a>
              <a class="o-section__links "
                href="https://chrome.google.com/webstore/detail/youtube-time-filter/bafpllbamajknogcdbecmgflnbmdbbep"
                target="_blank">Live Demo</a>
            </div>
            <p>
              Chrome extension to filter videos by length on Youtube's search page. For instance, filtering by 1:00 and
              3:00 will exclude videos
              below 1 minute and longer than 3 minutes.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Moche --}}
          <div data-tags="jQuery, HTML5, CSS3, PSD to HTML" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-moche.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Moche
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Live Demo</a>
            </div>
            <p>
              When working at Fullsix I had the honor to code Moche's landing page. The project was
              tackled by me and another front-end developer. Mobile view at 0:22.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Vivaki --}}
          <div data-tags="jQuery, HTML5, CSS3, PSD to HTML" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-vivaki.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Vivaki
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Live Demo</a>
            </div>
            <p>
              Also at Fullsix, I was privileged with the opportunity to code Vivaki's landing page.
              I was the only developer in this specific project. Mobile view at 0:13.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Get Yok'd --}}
          <div data-tags="jQuery, HTML5, CSS3, SCSS, .Liquid (Shopify)" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-yokd.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Get Yok'd
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://www.getyokd.com/" target="_blank">Live Demo</a>
            </div>
            <p>
              The project owner requested website optimizations and various styling
              modifications.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Light My Bricks --}}
          <div data-tags="Vanilla JS, HTML5, CSS3, SCSS, .Liquid (Shopify)" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-light-bricks.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Light My Bricks
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://www.lightmybricks.com/" target="_blank">Live Demo</a>
            </div>
            <p>
              Implementation of new sections, such as sticky header, image/text block and slider.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Dog's Best Friend Australia --}}
          <div data-tags="jQuery, HTML5, CSS3, SCSS, .Liquid (Shopify)" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-dog.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Dog's Best Friend Australia
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://dogsbestfriendaustralia.com.au/" target="_blank">Live Demo</a>
            </div>
            <p>
              Creation of new components on top of a theme. Implementation of the new collection section "Best Sellers".
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Papaiia Note --}}
          <div data-tags="jQuery, HTML5, CSS3, .Liquid (Shopify)" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-papaiia.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Papaiia Note
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://www.papaiianote.com/" target="_blank">Live Demo</a>
            </div>
            <p>
              Custom development mainly focused on UX. Our goal was to keep the design elegant and simplistic while
              straightforward enough for customers.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Zudo --}}
          <div data-tags="Vanilla JS, HTML5, CSS3, .Liquid (Shopify)" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-zudo.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Zudo
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://www.zudo.co/" target="_blank">Live Demo</a>
            </div>
            <p>Description.</p>
          </div>
          <!-- /o-grid__col -->

          {{!-- birthcanva --}}
          <div data-tags="Vanilla JS, HTML5, CSS3, .Liquid (Shopify)" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-birthcanva.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  BirthCanva
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://www.birthcanva.com/" target="_blank">Live Demo</a>
            </div>
            <p>Description.</p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Studio Tagus --}}
          <div data-tags="jQuery, HTML5, CSS3, Handlebars" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-studiotagus.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Studio Tagus
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/tagus-v3" target="_blank">Source Code</a>
              <a class="o-section__links" href="http://diegofortes.com/studiotagus.com/" target="_blank">Live Demo</a>
            </div>
            <p>First company related to web development that I've brought up with a couple of friends. We coded websites
              in Wordpress, HTML, CSS (scss) and Javascript (Vanilla and jQuery) to multiple customers. Studio Tagus
              gave us room to grow and
              improve our skills in various ways.</p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Megalancers --}}
          <div data-tags="jQuery, HTML5, CSS3, Stylus" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-megalancers.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Megalancers
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://megalancers.com" target="_blank">Live Demo</a>
            </div>
            <p>Megalancers is a brazilian "Fiverr" like website.
              This project was coded from scratch by me and another developer in 3 months. Neither of us knew Stylus, so
              we had to learn for this project.</p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Meal Masters --}}
          <div data-tags="Vanilla JS, HTML5, CSS3" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-mealmasters.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Meal Masters
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/meal-masters" target="_blank">Source Code</a>
              <a class="o-section__links" href="http://diegofortes.com/mealmasters/" target="_blank">Live Demo</a>
            </div>
            <p>Online food delivery website developed in 2016. It was my very first fully website project for a client.
              Mobile view at 0:38.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Arval --}}
          <div data-tags="jQuery, HTML5, CSS3" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-arval.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Arval
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links" href="https://github.com/dpw1/arval" target="_blank">Source Code</a>
              <a class="o-section__links" href="https://arvalmq.com/" target="_blank">Live Demo</a>
            </div>
            <p>Arval is a printing machine company. They needed their old website updated so I took care of developing a
              minimalistic UI and code it.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Fábulas Urbanas --}}
          <div data-tags="jQuery, HTML5, CSS3, Wordpress" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-fabulas.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Fábulas Urbanas
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="http://fabulasurbanas.com/" target="_blank">Live Demo</a>
            </div>
            <p>Art portfolio/blog I coded from scratch using Wordpress. Supports multi-language.
            </p>
          </div>
          <!-- /o-grid__col -->

          {{!-- Ezfy --}}
          <div data-tags="jQuery, HTML5, CSS3, Wordpress" class="o-grid__col-sm-6">
            <article class="c-image-overlay  t-image-overlay">
              <video class="c-video" width="320" height="240" controls>
                <source src="/images/videos/video-ezfy.mp4" type="video/mp4">

              </video>

              <div class="o-grid--gallery__text">
                <h3>
                  Ezfy
                </h3>
                <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />

              </div>
            </article>
            <div class="o-section__links-container">
              <a class="o-section__links o-section__links--blocked" href="#" target="_blank">Source Code</a>
              <a class="o-section__links" href="http://diegofortes.com/ezfy" target="_blank">Live Demo</a>
            </div>
            <p>Ezfy is a fairly simple but useful web app that
              I have coded mainly for my Shopify customers, but it's aimed to any Shopify Entrepreneur. It allows one to
              retrieve product data with 100% accuracy from any
              Shopify store (such as the day it was added, price, description, etc) and to download all images of a
              single product in one click.
            </p>
          </div>
          <!-- /o-grid__col -->
        </div>
        <!-- /o-grid -->

      </div>
      <!-- /o-section__content -->

    </div>
    <!-- /o-section__container -->
  </div>
  <!-- /o-container -->

</section>
<!-- /o-section -->