<!-- ################################ -->
<!-- ########### REVIEWS ########## -->
<!-- ################################ -->

<section id="reviews" class="o-section  t-section o-section__reviews">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Reviews
          </h2>
          <div class="o-content__body  o-section__description">
            What customers say about my work.<i>(surnames blurred for privacy)</i>
          </div>
        </div>
      </header>
      <!-- /o-section__header -->

      <div class="o-section__content  t-section__content  o-section__full-bottom-space">

        <div class="o-grid  o-grid--gallery">
          {{!-- 
          <div class="o-grid__col-sm-6">
            <iframe name="f11ce97d0ade3c" width="350px" height="1000px" title="fb:post Facebook Social Plugin"
              frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
              src="https://www.facebook.com/v3.3/plugins/post.php?app_id=1723656127661771&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2cb91eaec21028%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff17ca919fd14c8%26relation%3Dparent.parent&amp;container_width=410&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D465128090696487%26id%3D100015978994970&amp;locale=en_US&amp;sdk=joey&amp;show_text=true&amp;width=350"
              style="border: none; visibility: visible; width: 350px; height: 232px;" class=""></iframe>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/sher.shanwari/posts/2443221389022677"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/sher.shanwari/posts/2443221389022677"
                class="fb-xfbml-parse-ignore">
                <p>Working with Diego was one of the best experiences I have ever had he is a professional and knows his
                  stuff,
                  anything...</p>Posted by <a href="https://www.facebook.com/sher.shanwari">Sher Shanwari</a> on&nbsp;<a
                  href="https://developers.facebook.com/sher.shanwari/posts/2443221389022677">Sunday, March 24, 2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/ron.bercovitch/posts/10161454417070285"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/ron.bercovitch/posts/10161454417070285"
                class="fb-xfbml-parse-ignore">
                <p>Incredible work - I got them to help fix some things on my Shopify store and for such a great price!
                  They were
                  extremely...</p>Posted by <a href="#" role="button">Ronni Berco</a> on&nbsp;<a
                  href="https://developers.facebook.com/ron.bercovitch/posts/10161454417070285">Sunday, March 10,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/csegervall/posts/10155865648326714"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/csegervall/posts/10155865648326714"
                class="fb-xfbml-parse-ignore">
                <p>Hands down the best agency I have ever worked with. Always happy with the awesome results :)</p>
                Posted by <a href="#" role="button">Conny Segervall</a> on&nbsp;<a
                  href="https://developers.facebook.com/csegervall/posts/10155865648326714">Wednesday, January 2,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          

          <div class="o-grid__col-sm-6">
            <div class="fb-post"
              data-href="https://www.facebook.com/permalink.php?story_fbid=10161430970930096&amp;id=543405095"
              data-width="350" data-show-text="true">
              <blockquote
                cite="https://developers.facebook.com/permalink.php?story_fbid=10161430970930096&amp;id=543405095"
                class="fb-xfbml-parse-ignore">
                <p>Diego is really amazing! he is the 9ne managing my custom recommendations all the time and he is
                  really the best
                  you could have if you need some customization on your website</p>Posted by <a href="#"
                  role="button">Alexandre Da
                  Costa</a> on&nbsp;<a
                  href="https://developers.facebook.com/permalink.php?story_fbid=10161430970930096&amp;id=543405095">Friday,
                  January
                  11, 2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->
          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/ibraheem.nadeem/posts/10161783472635352"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/ibraheem.nadeem/posts/10161783472635352"
                class="fb-xfbml-parse-ignore">
                <p>Diego is amazing at what he does. I&#039;ve been using his web development services for over a year
                  (I have 20+
                  projects...</p>Posted by <a href="#" role="button">Ibraheem Nadeem</a> on&nbsp;<a
                  href="https://developers.facebook.com/ibraheem.nadeem/posts/10161783472635352">Wednesday, February 6,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/Jay.ripper1990/posts/10156444786948231"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/Jay.ripper1990/posts/10156444786948231"
                class="fb-xfbml-parse-ignore">
                <p>I&#039;m extremely happy with the work carried out by Diego! Will definitely be utilising his skills
                  again!</p>
                Posted by <a href="#" role="button">Jim Bob</a> on&nbsp;<a
                  href="https://developers.facebook.com/Jay.ripper1990/posts/10156444786948231">Tuesday, May 14,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/LucasdeLinde/posts/1883955018348690"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/LucasdeLinde/posts/1883955018348690"
                class="fb-xfbml-parse-ignore">
                <p>Great and fast tool for finding products, i&#039;ve also received help with coding on my landing page
                  and it was
                  an easy and pleasant experience. Thank you! :)</p>Posted by <a
                  href="https://www.facebook.com/LucasdeLinde">Lucas
                  Alain</a> on&nbsp;<a
                  href="https://developers.facebook.com/LucasdeLinde/posts/1883955018348690">Wednesday,
                  September 5, 2018</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/ben.parisella/posts/10213402119743835"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/ben.parisella/posts/10213402119743835"
                class="fb-xfbml-parse-ignore">
                <p>Great! I received help with customizing my site, thanks!</p>Posted by <a
                  href="https://www.facebook.com/ben.parisella">Benjadetto Parisella</a> on&nbsp;<a
                  href="https://developers.facebook.com/ben.parisella/posts/10213402119743835">Friday, January 18,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/richard.agyemang.9655/posts/2440297606028451"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/richard.agyemang.9655/posts/2440297606028451"
                class="fb-xfbml-parse-ignore">
                <p>He is the best at what he does. I have worked with a couple of developers but he is by far the best.
                  Thanks for
                  such an amazing job on my site. I 100% recommend him</p>Posted by <a
                  href="https://www.facebook.com/richard.agyemang.9655">Richard Agyemang</a> on&nbsp;<a
                  href="https://developers.facebook.com/richard.agyemang.9655/posts/2440297606028451">Saturday, May 25,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/annadnv/posts/10161291180020618" data-width="350"
              data-show-text="true">
              <blockquote cite="https://developers.facebook.com/annadnv/posts/10161291180020618"
                class="fb-xfbml-parse-ignore">
                <p>Diego is great ! Very responsive and customizes everything to your wish. Very friendly and
                  comprehensive, + the
                  delivery is immediate. I enjoy a lot working with him ! Recommend 100% !</p>Posted by <a href="#"
                  role="button">Anna Dnv</a> on&nbsp;<a
                  href="https://developers.facebook.com/annadnv/posts/10161291180020618">Tuesday, March 12, 2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/nathanngo21/posts/10155898793046436"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/nathanngo21/posts/10155898793046436"
                class="fb-xfbml-parse-ignore">
                <p>He knows his stuff and is very quick with making changes! An absolute wizard at shopify! Really
                  recommend him!
                </p>Posted by <a href="https://www.facebook.com/nathanngo21">Nathan Ngo</a> on&nbsp;<a
                  href="https://developers.facebook.com/nathanngo21/posts/10155898793046436">Sunday, March 17, 2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/jeffreyprichardson/posts/10212580477741031"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/jeffreyprichardson/posts/10212580477741031"
                class="fb-xfbml-parse-ignore">
                <p>This team went FAR beyond my expectations! It felt as if i had another employee, instead of a
                  service. Their...
                </p>Posted by <a href="#" role="button">Jeffrey Richardson</a> on&nbsp;<a
                  href="https://developers.facebook.com/jeffreyprichardson/posts/10212580477741031">Thursday, January
                  31, 2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/brogan.domaschenz/posts/2094168197296835"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/brogan.domaschenz/posts/2094168197296835"
                class="fb-xfbml-parse-ignore">
                <p>VERY VERY IMPRESSED! - understood exactly what i was trying to get across and produced something even
                  better then
                  i...</p>Posted by <a href="#" role="button">Brogan Domaschenz</a> on&nbsp;<a
                  href="https://developers.facebook.com/brogan.domaschenz/posts/2094168197296835">Wednesday, January 2,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="fb-post" data-href="https://www.facebook.com/Hufglocken/posts/10218896807271165"
              data-width="350" data-show-text="true">
              <blockquote cite="https://developers.facebook.com/Hufglocken/posts/10218896807271165"
                class="fb-xfbml-parse-ignore">
                <p>Super quick and made the process very easy, thank you 😊</p>Posted by <a href="#"
                  role="button">Annalisa
                  Phillips</a> on&nbsp;<a
                  href="https://developers.facebook.com/Hufglocken/posts/10218896807271165">Thursday, May 9,
                  2019</a>
              </blockquote>
            </div>
          </div>
          <!-- /o-grid__col --> --}}

          <div class="o-grid__col-sm-12">

            <div class="carousel" data-flickity data-flickity-options='{"freeScroll":true, "setGallerySize": true}'>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r1.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r2.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r3.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r4.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r5.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r6.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a href="#" target="_blank">
                  <img src="/images/reviews-fb/r7.png" alt="">
                </a>
              </div>

              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r8.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r9.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r10.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r11.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r12.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r13.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r14.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r15.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r16.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank" href="#"><img src="/images/reviews-fb/r17.png" alt=""></a>
              </div>
            </div>


          </div>
        </div>
        <!-- /o-grid__col -->


        {{!-- <div class="o-grid__col-sm-6">
            <a class="c-image-overlay" href="images/review-16.png" data-fancybox="gallery">
              <img data-src="images/review-16.png" alt="">
            </a>
          </div> --}}
        <!-- /o-grid__col -->

        <!-- /o-grid__col -->
      </div>
      <!-- [END] /o-grid -->

    </div>
    <!-- /o-section__content -->

  </div>
  <!-- /o-section__container -->
  </div>
  <!-- /o-container -->

</section>
<!-- /o-section -->