<!-- ################################ -->
<!-- ########### REVIEWS ########## -->
<!-- ################################ -->

<section id="reviews" class="o-section  t-section o-section__reviews">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Reviews
          </h2>
          <div class="o-content__body  o-section__description">
            What customers say about my work. Please click on any image to be redirected to the Facebook post.
          </div>
        </div>
      </header>
      <!-- /o-section__header -->

      <div class="o-section__content  t-section__content  o-section__full-bottom-space">

        <div class="o-grid  o-grid--gallery">

          <div class="o-grid__col-sm-12">

            <div class="carousel" data-flickity data-flickity-options='{"freeScroll":false, "setGallerySize": true}'>

              <div class="carousel-cell"><a
                  href="https://facebook.com/story.php?story_fbid=10161783472635352&id=625955351" target="_blank">
                  <img src="/images/reviews-fb/r6.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=2094168197296835&id=100001110249818"><img
                    src="/images/reviews-fb/r14.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a href="https://www.facebook.com/sher.shanwari/posts/2443221389022677"
                  target="_blank">
                  <img src="/images/reviews-fb/r3.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=10161291180020618&id=518520617"><img
                    src="/images/reviews-fb/r11.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a
                  href="https://facebook.com/story.php?story_fbid=465128090696487&id=100015978994970" target="_blank">
                  <img src="/images/reviews-fb/r1.png" alt="">
                </a>
              </div>

              <div class="carousel-cell"><a
                  href="https://facebook.com/story.php?story_fbid=10155865648326714&id=666126713&_rdr" target="_blank">
                  <img src="/images/reviews-fb/r4.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a
                  href="https://facebook.com/story.php?story_fbid=10161430970930096&id=543405095" target="_blank">
                  <img src="/images/reviews-fb/r5.png" alt="">
                </a>
              </div>

              <div class="carousel-cell"><a
                  href="https://facebook.com/story.php?story_fbid=10156444786948231&id=585828230" target="_blank">
                  <img src="/images/reviews-fb/r7.png" alt="">
                </a>
              </div>
              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=2440297606028451&id=100001447075100"><img
                    src="/images/reviews-fb/r10.png" alt=""></a>
              </div>


              <div class="carousel-cell"><a href="https://www.facebook.com/ron.bercovitch/posts/10161454417070285"
                  target="_blank">
                  <img src="/images/reviews-fb/r2.png" alt="">
                </a>
              </div>




              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=1883955018348690&id=100002026313369"><img
                    src="/images/reviews-fb/r8.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=10213402119743835&id=1124757358"><img
                    src="/images/reviews-fb/r9.png" alt=""></a>
              </div>

              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=10155898793046436&id=717316435"><img
                    src="/images/reviews-fb/r12.png" alt=""></a>
              </div>
              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=10212580477741031&id=1656720259"><img
                    src="/images/reviews-fb/r13.png" alt=""></a>
              </div>

              <div class="carousel-cell"><a target="_blank"
                  href="https://facebook.com/story.php?story_fbid=612327842465335&id=100010643737797"><img
                    src="/images/reviews-fb/r15.png" alt=""></a>
              </div>

            </div>


          </div>
        </div>
        <!-- /o-grid__col -->


        {{!-- <div class="o-grid__col-sm-6">
            <a class="c-image-overlay" href="images/review-16.png" data-fancybox="gallery">
              <img src="images/review-16.png" alt="">
            </a>
          </div> --}}
        <!-- /o-grid__col -->

        <!-- /o-grid__col -->
      </div>
      <!-- [END] /o-grid -->

    </div>
    <!-- /o-section__content -->

  </div>
  <!-- /o-section__container -->
  </div>
  <!-- /o-container -->

</section>
<!-- /o-section -->