{{> header  title="Diego Fortes | Web Developer"}}

{{> preloader}}

<div class="c-main-container  js-main-container">
  {{> section-header}}
  {{> intro}}
  {{> reviews}}
  {{> expertise}}
  {{> experiences}}
  {{> education}}
  {{> portfolio}}
  {{> section-footer}}
</div>

{{> footer}}
