{{> header title="Diego Fortes | Web Developer"}}

{{> preloader}}

<div class="c-main-container  js-main-container">

  {{> section-header}}
  {{> intro}}
  {{> portfolio}}
  {{> reviews}}

  {{!-- {{> expertise}} --}}
  {{!-- {{> experiences}} --}}
  {{!-- {{> education}} --}}

  {{> section-footer}}
</div>

{{> footer}}